<template>
    <div class="<%= data.lowerName %>">
        <h1>{{msg}}</h1>
    </div>
</template>
<script>
    export default {
        name: "<%= data.name %>",
        data() {
            return {
                msg: "vital!"
            }
        },
        mounted() {},
        computed: {},
        methods: {},
        components: {}
    }
</script>

<style>

</style>